  <!-- Page Preloder -->
    <!-- <div id="preloder">
    <div class="loader"></div>
    </div> -->

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
            </ul>
            <!-- <div class="header__cart__price">item: <span>₹150.00</span></div> -->
        </div>
        <div class="humberger__menu__widget">
          <!--   <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>-->
            <%if(loggedIn){%>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i><%=user.firstname%></a>
                <a href="/user/logout"><button class="bg-danger" style="margin-top: 10px;">Logout</button></a>
            </div>
            <%} else {%>
                <div class="header__top__right__auth">
                    <a href="/login"><i class="fa fa-user"></i> Login</a>
                </div>
                <%}%>
        </div> 
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <% if (user){%>
                    <li class="active"><a href="/user/index">Home</a></li>

                    <li><a href="/user/shopping">Shop</a></li>
                <%}else{%>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/shopping">Shop</a></li>
                <%}%>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <!-- <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> purely@organic.com</li>
                <li>Free Shipping for all Order of ₹149</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> purelyOrganic.com</li>
                                <li>Free Shipping for all Order of ₹149</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <!-- <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div> -->
                            <%if(loggedIn){%>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i><%=user.firstname%></a>
                                <a href="/user/logout"><button class="bg-danger" style="margin-top: 10px;">Logout</button></a>
                            </div>
                            <%} else {%>
                            <div class="header__top__right__auth">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->