<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Purely Organic | Admin Management Portal</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Purely Organic Store Management & Operations Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo1.png">

    <!-- Google Fonts & Material Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/modern-organic.css" rel="stylesheet" type="text/css" />

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>

<body class="bg-light">
    <%- body %>

    <!-- Single Unified Core JavaScript Bundles (No Duplicates) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    
    <!-- DataTables JS (Loaded Once) -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <!-- SweetAlert2 (Loaded Once) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Main Template Scripts -->
    <script src="/assets/js/main.js" type="text/javascript"></script>

    <script>
      $(document).ready(function () {
        if ($('#userTable').length) $('#userTable').DataTable({ responsive: true });
        if ($('#productTable').length) $('#productTable').DataTable({ responsive: true });
        if ($('#categoryTable').length) $('#categoryTable').DataTable({ responsive: true });
        if ($('#bannerTable').length) $('#bannerTable').DataTable({ responsive: true });
        if ($('#myTableOrder').length) $('#myTableOrder').DataTable({ responsive: true });
        if ($('#mySalesTable').length) $('#mySalesTable').DataTable({ responsive: true });
      });

      function previewImage(event) {
        var input = event.target;
        var preview = input.nextElementSibling;
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function () {
            preview.src = reader.result;
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
</body>
</html>