<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OGANI</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/images/logo1.png">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
<body>
    <%-body %>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>


    <script>
        $(function () { 
          $('#userTable').DataTable(); 
        });
     
        jQuery.validator.setDefaults({
          rules:{
            name: {
              required: true,
              minlength: 1
            }, 
            email: {
              required: true,
              email: true
            }, 
            password: {
              required: true
            }
          },
          messages:{
            name: {
              required: "Please Enter your name",
              minlength: "Name should have atleast 1 character"
            }, 
            email: {
              required: "Please Enter your email id",
              email: "Enter your valid email id"
            }, 
            password: {
              required: "Please Enter Password"
            }
          },
          submitHandler: function(form) {
            form.submit();
          }
        });
     
        jQuery('#submit-form').validate();
        jQuery('#submit-form1').validate();
        jQuery('#submit-form2').validate();
        jQuery('#submit-form3').validate();
     </script>

<script>
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown();
  });
</script>


<script src="/js/zoomsl.min.js"></script>
<script>
    $(document).ready(function(){
      $('#soom').imagezoomsl({
       
      })
    })
    </script>
       <script>
        function addToCart(prodId) {
      Swal.fire({
          title:'Added to Cart!',
    message:'product added to cart',
    icon:'success'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/user/addtocart/"+prodId,
            method: "post",
            success: function() {
          // Reload the page
          location.reload();
        }
          });
        }
      });
    }

    function AddToWishList(prodId) {
      Swal.fire({
          title:'Added to Wish List!',
    message:'product added to wish List',
    icon:'success'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/user/wishlist/"+prodId,
            method: "post",
            success: function() {
          // Reload the page
          location.reload();
        }
          });
        }
      });
    }


     </script>

<script>
  function addToCartFromWish(product_id) {
$.ajax({
url: `/user/add-to-cartFromWishL/${product_id}`,
method: "PUT",
success: function (response) {
  if (response.status) {
    Swal.fire({
      title: "Product added to cart!",
      icon: "success",
      showConfirmButton: false,
      timer: 1000,
    }).then(() => {
      location.reload();
    });
  } else {
    Swal.fire({
      title: "Out of stock!",
      icon: "error",
      showConfirmButton: false,
      timer: 4000,
    });
  }
},
error: function (error) {
  console.log(error);
},
});
}


function removeFromWishList(product_id) {
  Swal.fire({
    title: `Are you sure you want to remove?`,
    icon: "question",
    showCancelButton: true,
    confirmButtonText: "Yes, remove it!",
    cancelButtonText: "Cancel",
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: "/user/remove-product-from-wishList",
        data: {
          product: product_id,
        },
        method: "delete",
        success: (response) => {
          if (response) {
            Swal.fire({
              title: `Product removed !`,
              icon: "success",
              showConfirmButton: false,
              timer: 2000,
            }).then(() => {
              location.reload();
            });
          }
        },
      });
    }
  });
}
</script>

     <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $("#checkout-form").submit((e)=>{
      e.preventDefault()
      $.ajax({
          url:'/user/place-order',
          method:'post',
          data:$('#checkout-form').serialize(),
          success:(response)=>{
            let id2=response.addressId
            if(response.codSuccess){
              let id=response.orderId
             
              Swal.fire({
            title:'Order Placed Succefuly',
        message:'product added to cart',
        icon:'success'
      })
      .then((success)=>{
  location.href="/user/orderInfo/"+id+"/"+id2
            })
      }else{
        razorpayPayment(response)
      }
          }
      })
    })


    function razorpayPayment (order){
        var options = {
    "key": "rzp_test_LlUB5deQFFVcRd", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Jishnu P",
    "description": "Test Transaction",
    "image": "/images/logo.jpeg",
    "order_id": order.id , //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Jishnu P",
        "email": "jishnupunathil000@gmail.com",
        "contact": "9496959109"
    },
    "notes": {
        "address": "Kochi"
    },
    "theme": {
        "color": "#6a3fc6"
    }
    }; 
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
       
});
    rzp1.open();
    }




    


    function verifyPayment(payment,order){
        $.ajax({
            url:'/user/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                  let id=response.orderId
                  let id2=response.addresId
                  location.href="/user/orderInfo/"+id+"/"+id2
                }else{
                    alert('payment failed')
                }
            

        }
      })
    }
</script>



</body>

</html>